<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>UNIQUE ELEMENT</title>
</head>
<body>
    <section class="hero is-lagre is-success mb-4">
        {% block heading %}
        <hr>
        <h2 class="title is-1">First unique element for:</h2>
        <hr>
        {% endblock heading %}
    </section>
    <section class="content">
        <div class="is-medium" block">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
<section class="level">
    {% block end %}
    {% endblock end %}
</section>
</body>
</html>